.moviesList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 12px;
  row-gap: 12px;
  flex-wrap: wrap;
}

.moviesItem {
  width: calc((100% - 60px) / 6);
  transition: transform 500ms ease-in-out;
}

.moviesItem:hover {
  transform: scale(1.05);
}

.moviesImage {
  width: 100%;
  border-radius: 8px;
}

.title {
  font-family: "Courier New", Courier, monospace;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.dateText {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
